.logoSection {
  background: var(--gray-700);
  height: 12.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoSection img {
  width: 8rem;
}

.newTaskForm {
  display: flex;
  justify-content: space-between;
  width: 46rem;
  height: 3rem;
  margin: -1.5rem auto 0 auto;
}

.newTaskForm input {
  width: 39.875rem;
  border-radius: 8px;
  padding: 1rem;
  background: var(--gray-500);
  border: 0;
}

.newTaskForm input::placeholder {
  color: var(--gray-300)
} 

.newTaskForm button {
  display: flex;
  gap: .2rem;
  font-size: .875rem;
  justify-content: center;
  align-items: center;
  width: 5.625rem;
  border-radius: 8px;
  background: var(--blue-500);
  border: 0;
  transition: background-color .1s;
}

.newTaskForm button:hover {
  background: var(--blue);
}