header {
  background: var(--gray-700);
  height: 12.5rem;
  display: flex;
  justify-content: center;
}

header img {
  width: 8rem;
}

.input {
  background: #fff;
  width: 46rem;
  height: 3rem;
  margin: -1.5rem auto 0 auto;
}