.formContainer {
  display: flex;
  justify-content: space-between;
  width: 46rem;
  height: 3rem;
  margin: -1.5rem auto 0 auto;
}

.formContainer input {
  width: 39rem;
  border-radius: 8px;
  padding: 1rem;
  background: var(--gray-500);
  border: 0;
  color: #fff;
}

.formContainer input::placeholder {
  color: var(--gray-300)
} 

.formContainer button {
  display: flex;
  gap: .2rem;
  font-size: .875rem;
  justify-content: center;
  align-items: center;
  width: 5.5rem;
  border-radius: 8px;
  background: var(--blue-500);
  color: #fff;
  border: 0;
  cursor: pointer;
  transition: background-color .1s;
}

.formContainer button:hover {
  background: var(--blue);
}